<div class="center hero-unit">
<% provide(:title, 'About') %>
<h1>About Seth</h1>
<div class="row">
<div class="col-sm">
    <div class="thumbnail">
		<%= link_to image_tag("seth-cover.jpg", title:"Seth") %>
        <div class="caption">
            <p>
            <h2>
Hi There!<br>
</h2>
	My name is Seth Olson and I'm a highly motivated Computer Engineer with a great passion for learning new technologies. I'm always looking for new things to learn, with Google as my teacher and Notepad++ as my notebook. Web and Software highly interest me, exploring technologies and techniques, developing cool apps. Anything that can help me in expand my knowledge is always welcome. My Motto in work (as in my life) is to "Take the impossible, make it obvious" - give me a worthy cause and I'll make it happen. This awesome portfolio - was developed by me from scratch based on Client and Server Side languages including JavaScript (using jQuery), HTML5, CSS3, Ruby on Rails, and Bootstrap. 
	Hope you will enjoy it :)
<br>
<h2>
Cheers,
Seth
</h2>
        </div>
    </div>
</div>
</div>
</div>
