<div class="center hero-unit">
<% provide(:title, 'About') %>
<h1>About Seth</h1>
<div class="row">
<div class="col-sm">
    <div class="thumbnail">
		<%= link_to image_tag("seth-cover.png", title:"Seth") %>
        <div class="caption">
            <h3>Seth in the back yard</h3>
            <p>
            	I am currently in Brazil learning Portuguese and will soon be married to my lovely fiance, Milena. 

            	I am looking to obtain a position in the field of engineering / computer science, that will enable me to apply my robust analytical skills, academic background and a passion for all things in engineering to positively affect an organization. I am aiming for the opportunity to work for a company, where I will have the potential to learn new skills and to expand upon my current foundation. I attain knowledge from many different fields, such as Computer Science, Electrical Engineering, Business, Start-ups. Nevertheless, I am always ready to learn and enjoy heading down a path where I do not have all the answers.</p>
        </div>
    </div>
</div>
</div>
</div>
