<div class="center hero-unit">
<h1>Seth Olson, B.S. Computer Engineering</h1>
<h2>
<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  Resume
</button>
<div id="demo" class="collapse">								  
<iframe src="/resume.pdf" style="width:718px; height:718px;" frameborder="0"></iframe>
</div>
</h2>
</div>
