<h1>Seth Olson, B.S. Computer Engineering</h1>
<div class="center hero-unit">
<a href="projects" class="btn btn-danger" role="button">Go to Projects Page</a>
	<div class="accordion" id="myAccordion">
		<div class="panel">
		    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapsible-1" data-parent="#myAccordion">Resume Pdf + Diploma</button>
		    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#collapsible-2" data-parent="#myAccordion">Resume Txt</button>
		    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#collapsible-3" data-parent="#myAccordion">Brazil</button>
			<div id="collapsible-1" class="collapse">
				<div class="embed-container">
					<object data="resume.pdf" type="application/pdf" width="100%" height="100%">
					  <p>Your web browser doesn't have a PDF plugin.
	  					Instead you can <a href="resume.pdf">click here to ownload the PDF file.</a></p>
				    <embed src="resume.pdf" type="application/pdf">
				    </object>
			    </div>
			    <%= image_tag('/images/diploma.jpg') %>
			</div>

			<div id="collapsible-2" class="collapse">
			    <pre><%=render '/resume.txt' %></pre>
			</div> 
		    <div id="collapsible-3" class="collapse in">
			    <p> <b>These past several months in Brazil have been quite the experience. I am truly happy
				to have spent time with my fiance Milena and am now back in the US and am beginning my job search. If you know of any available entry level software development / engineering positions please contact me at seth@sethmile.com or click on Contact</p></b>
				<%= render 'layouts/carHome' %>
				<a href="images" class="btn btn-info" role="button"><b>Full Gallery</b></a>
		    </div>
		</div>
	</div>
</div>