<h1>Seth Olson, B.S. Computer Engineering</h1>
<div class="center hero-unit">
	<div class="accordion" id="myAccordion">
		<div class="panel">
		    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapsible-1" data-parent="#myAccordion">Resume Pdf</button>
		    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#collapsible-2" data-parent="#myAccordion">Resume Txt</button>
		    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#collapsible-3" data-parent="#myAccordion">Brazil</button>
			<div id="collapsible-1" class="collapse">
			    <iframe src="/resume.pdf" style="width:718px; height:650px;" frameborder="0"></iframe>
			</div>
			<div id="collapsible-2" class="collapse">
			    <pre><%=render '/resume.txt' %></pre>
			</div> 
		    <div id="collapsible-3" class="collapse">
			    <p> <b>These past several months in Brazil have been quite the experience. I am truly happy
				to have spent time with my fiance Milena and am looking forward to coming back to the
				US with her and to start a new job.</p></b>
				<%= render 'layouts/carHome' %>
				<a href="images" class="btn btn-info" role="button"><b>Full Gallery</b></a>
		    </div>
		</div>
	</div>
</div>