<div class="center hero-unit">
<h1>Seth Olson, B.S. Computer Engineering</h1>
<h2>
  Please view my previous and on-going work and feel free to leave a comment.
  <br>
  <%= link_to 'My Projects', controller: 'projects', class: "btn btn-large btn-primary" %>
</h2>
</div>
